<item>
	<title>TITLE</title>
	<link>http://www.cool-projects.com</link>
	<description>
	<![CDATA[
		<iframe width="640" height="360" src="//VIDEO" frameborder="0" allowfullscreen></iframe>
		<br/>
		<br/>
		DESCRIPTION
		<br/>
		<br/>
	    <a href="//LINK" target="_blank">
www.LINK
	    </a>
	]]>
	</description>
</item>

