<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">

	<channel>
		<title>cool-projects.com</title>
		<link>http://www.cool-projects.com</link>
		<description>All cool projects in one place</description>

PROJECTS

	</channel>
</rss>

